<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Premier League</ion-title>
    </ion-navbar>
    <ion-toolbar secondary>
        <ion-title>My Teams</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="{{plurl}}" width="555" height="200">

    <p>You are not currently following any teams.</p>
    <p>First select a Team, then you can follow team page.</p>
    <button (click)="goToTournaments()">Select Team</button>
    <button (click)="login()">G+ Login</button> 
</ion-content>